<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% extends "base.html" %}
{% block content %}
<!-- driver_list is the variable passed in containing the list of drivers -->
<!-- Add code to display a list of drivers -->

<div class="shadow p-3 mb-5 bg-body-tertiary rounded"> <!--Shadow Effects -->
<h2 class="fw-bold fs-3" id="scrollspyHeading1">Driver List</h2>

<table class="table table-striped table-hover vh-100">
    <thead class="table-dark">
    <tr>
        <th>Driver ID</th>
        <th>Name</th>
        <th>Birth Day</th>   
        <th>Age</th>
        <th>Caregiver</th>
        <th>Car Model</th>
        <th>Class</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    {% for driver in driver_list %}
    <tr {% if driver.3 is not none and (driver.3 >= 12 and driver.3 <= 25) %}class="table-warning"{% endif %}>
        <td>{{ driver[0] }}</td>
        <!-- Add a link to rundetails with the driver's name as a parameter -->
        <td><a href="{{ url_for('rundetails', name=driver[1]) }}#scrollspyHeading3" class="text-decoration-none text-primary">{{ driver[1] }}</a></td>
        <td>{{ driver[2] }}</td>
        <td>{{ driver[3] }}</td>
        <td>{{ driver[4] }}</td>
        <td>{{ driver[5] }}</td>
        <td>{{ driver[6] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}