{% extends "base.html" %}
{% block content %}

<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <h2 class="fw-bold fs-3 mt-5" id="scrollspyHeading3">Run Details</h2>

    <form action="/rundetails#scrollspyHeading3" method="POST">
        <div class="input-group">
        <select name="name" id="name" class="form-select" aria-label="Default select example" required>
            <option value="">&lt;Select Name&gt;</option>
            {% for full_name in full_names %}
                <option value="{{full_name}}">{{full_name}}</option>
            {%  endfor %}
        </select>
            <button type="submit" class="btn btn-dark">Show Details</button>
        </div>
    </form>

    {% if driverDetails %}
    <!-- Driver Details Table -->
    <h3 class="fw-semibold fs-4"><small class="text-body-secondary">Driver Details</small></h3>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Driver ID</th>
                <th>Name</th>
                <th>Car Model</th>
                <th>Class</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <!-- Display driver details here -->
                <td>{{ driverDetails[0] }}</td>
                <td>{{ driverDetails[1] }}</td>
                <td>{{ driverDetails[2] }}</td>
                <td>{{ driverDetails[3] }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}


    {% if runDetails %}
    <!-- Run Informations Table -->
    <h3 class="fw-semibold fs-4"><small class="text-body-secondary">Run Informations</small></h3>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Driver ID</th>
                <th>Course Name</th>
                <th>Run Nnumber</th>
                <th>Seconds</th>
                <th>Cones</th>
                <th>WD</th>
                <th>Run Total</th>
            </tr>
        </thead>
        <tbody>
            {% for run in runDetails %}
            <tr>
                <!-- Display run details here -->
                <td>{{ run[0] }}</td>
                <td>{{ run[1] }}</td>
                <td>{{ run[2] }}</td>
                <td>{{ run[3] }}</td>
                <td>{{ run[4] }}</td>
                {% if run[5] != 0 %}
                    <td>WD</td>
                {% else %}
                    <td>{{ run[5] }}</td>
                {% endif %}
                <td>{{ run[6] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}