{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
    <!-- access Plotly content delivery network (CDN) charting library -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
<body>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <div class="d-flex justify-content-center">
            <h2 class="fw-bold fs-3" id="scrollspyHeading5">Top 5 Graph</h2>
        </div>   
    <div id="myHBarPlot" style="width:100%; max-width:auto;"></div>

    <script>
        // Note SPACE after each fruit name so gap before horizontal bar
        const value_list = {{ value_list | tojson | safe }};
        const name_list = {{ name_list | tojson | safe }};
        // REPLACE constants above with passed in variables.
        // Use the '|safe' Jinja filter to mark them as safe (prevents your data being html-escaped). eg,
        // var myList = {{ list_from_py | safe }}

        // Define graph data
        const data = [{ x: value_list,  y: name_list,  type:"bar", orientation:"h", marker: {color:"grey"} }];

        // Define graph layout. Excluded a y-axis title as fruit names are self-explanatory.
        const layout = {  
            xaxis: {title: "Driver Results"}, 
            title: "Top 5 Drivers Overall Results",
            margin: { l: 200},
        };
        

        // Display using Plotly
        Plotly.newPlot("myHBarPlot", data, layout);

    </script>
    </div>
</body>
</html>
{% endblock %}